
*.v2
*.bin
*.vsidx
*.dll
*.exe
*.pdb
*.cache
*.CopyComplete
*.txt
*.editorconfig
*.props
*.targets
*.BuildWithSkipAnalyzers
PracticoAPI/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
PracticoAPI/obj/Debug/net7.0/PracticoAPI.AssemblyInfo.cs
PracticoAPI/obj/Debug/net7.0/PracticoAPI.GlobalUsings.g.cs
PracticoAPI/obj/Debug/net7.0/PracticoAPI.MvcApplicationPartsAssemblyInfo.cs
.vs/PracticoAPISolution/v17/.suo
.vs/PracticoAPISolution/config/applicationhost.config
PracticoAPI/obj/Debug/net7.0/staticwebassets.build.json
PracticoAPI/obj/PracticoAPI.csproj.nuget.dgspec.json
PracticoAPI/obj/project.assets.json
PracticoAPI/bin/Debug/net7.0/PracticoAPI.runtimeconfig.json
PracticoAPI/bin/Debug/net7.0/PracticoAPI.deps.json
PracticoAPI/bin/Debug/net7.0/appsettings.json
PracticoAPI/bin/Debug/net7.0/appsettings.Development.json
